h1 {
  src: url(Unbounded-Bold.ttf);
  font-family: "Unbounded-Bold";
}

h2 {
  src: url(Unbounded-Bold.ttf);
  font-family: "Unbounded-Medium";
}

h3 {
  src: url(Unbounded-Bold.ttf);
  font-family: "Unbounded-Light";
}

* {
  src: url(Unbounded-Bold.ttf);
  font-family: "Unbounded-Bold";
  color: white;
}

table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
                                  background-color: rgba(48, 48, 48, 1) !important;
                                  }

table.display.dataTable > tbody > tr.selected > *,
table.display.dataTable > tbody > tr.odd.selected > *,
table.display.dataTable > tbody > tr.selected:hover > *  {
    box-shadow: inset 0 0 0 9999px orange !important;
    color: #333;
    background-color: #fff;
}

.dataTables_wrapper .dataTable thead th {
          font-size: 14px;
          background: rgba(48, 48, 48, 1) !important;
        }
.dataTables_wrapper .dataTable tfoot th {
          font-size: 14px;
        }
.dataTables_wrapper .dataTable tbody td {
          font-size: 12px;
        }

.dataTables_wrapper .dataTables_info {
            color: white !important;
        }


.dataTables_wrapper .dataTables_paginate .paginate_button {
            background: rgba(34, 34, 34, 1) !important;
            color: white !important;
            border-color: rgba(34, 34, 34, 1) !important;
        }

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
    .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
            background: rgba(34, 34, 34, 1) !important;
            color: orange !important;
            border-color: rgba(34, 34, 34, 1) !important;
        }

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
    .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover {
            background: none;
            color : rgba(34, 34, 34, 1) !important;
        }

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
            background: none;
            color: orange !important;
            border-color: rgba(34, 34, 34, 1) !important;
        }

.dataTables_wrapper .dataTables_filter input[type="search"] {
  color: orange !important;
  background: rgba(48, 48, 48, 1) !important;

}

.dataTables_wrapper .dataTables_length select {
  background: rgba(48, 48, 48, 1) !important;
  color: orange !important;
}




.js-irs-0 .irs-single, .js-irs-0 .irs-bar-edge, .js-irs-0 .irs-bar, .js-irs-1 .irs-single, .js-irs-1 .irs-bar-edge, .js-irs-1 .irs-bar, .js-irs-3 .irs-single, .js-irs-3 .irs-bar-edge, .js-irs-3 .irs-bar, .js-irs-4 .irs-single, .js-irs-4 .irs-bar-edge, .js-irs-4 .irs-bar, .js-irs-7 .irs-single, .js-irs-7 .irs-bar-edge, .js-irs-7 .irs-bar, .js-irs-8 .irs-single, .js-irs-8 .irs-bar-edge, .js-irs-8 .irs-bar, .js-irs-9 .irs-single, .js-irs-9 .irs-bar-edge, .js-irs-9 .irs-bar, .js-irs-10 .irs-single, .js-irs-10 .irs-bar-edge, .js-irs-10 .irs-bar {
  background: orange !important;
  border: orange !important;
}

.js-irs-0 .irs-line, .js-irs-1 .irs-line, .js-irs-3 .irs-line, .js-irs-4 .irs-line, .js-irs-7 .irs-line, .js-irs-8 .irs-line, .js-irs-9 .irs-line, .js-irs-10 .irs-line {
  background: transparent !important;
  border-top: 1px solid white !important;
}




.js-irs-2 .irs-single, .js-irs-5 .irs-single, .js-irs-6 .irs-single {
  background: orange !important;
}

.js-irs-2 .irs-bar, .js-irs-5 .irs-bar, .js-irs-6 .irs-bar {
  background: rgba(48, 48, 48, 1) !important;
  border-top: 1px solid white !important;
  border-bottom: 1px solid white !important;
}

.js-irs-2 .irs-line, .js-irs-5 .irs-line, .js-irs-6 .irs-line {
  background: orange !important;
  border: orange !important;
}



.btn{
  color: white;
  text-align: left;
  border-color: white;
  background-color: rgba(34, 34, 34, 1);

}

#gobutton:active {
  background: green;
}

.btn:hover{
  border-color: orange;
  background-color: orange;
  color: rgba(48, 48, 48, 1);
  font-weight: bold;
}

.btn:focus{
  background-color: orange;
}

#select1 {
  background-color:blue !important;

}

.selectize-dropdown-content .option {
  color: white;
  background: rgba(48, 48, 48, 1);
}
.selectize-input .item {
  color: white !important;
  background-color: rgba(48, 48, 48, 1) !important;
}
